// COLORS

$color-white: #fff;
$color-black: #000;

$color-grey: #777;
$color-grey-dark-1: #999;
$color-grey-dark-2: #333;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-green-light: #7ed56f;
$color-green-medium: #55c57a;
$color-green-dark: #28b485;

$color-orange-light: #ffb900;
$color-orange-dark: #ff7730;

$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;

// FONTS

$font-primary: 'Lato', sans-serif;
$default-font-size: 1.4rem;

// BOX-SHADOWS

//bx-sw:X-osa Y-osa blur rgba(boja, opacity);
$bx-sw-1: 0 .7rem 1.1rem rgba($color-black, .1);
$bx-sw-2: 0 1rem 2rem rgba($color-black, .3);
$bx-sw-3: 0 .5rem 1rem rgba($color-black, .2);
$bx-sw-4: 0 3rem 6rem rgba($color-black, .1);

// TRANSITIONS

$transition-1: all .2s;
$transition-2: all .5s;

// BREAKPOINTS

$bp-1: 82.5em; // 1320px
$bp-2: 75em; // 1200px
$bp-3: 58.75em; // 940px
$bp-3-3: 51.75em; // 828px
$bp-3-5: 51.5em; // 824px
$bp-4: 40em; // 640px
$bp-5: 30.25em; // 484px