.footer {
  background-color: $color-grey-dark-2;
  grid-column: 1 / -1;
  @include grid-center-3;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: repeat(2, 1fr);
  padding: 5rem;

  @media only screen and (max-width: $bp-3-5) {
    grid-template-rows: repeat(3, min-content);
  }

  &__social {
    grid-column: 1 / 2;
    width: 70%;
    height: 100%;
    @include grid-center-6;
    grid-template-columns: repeat(5, 1fr);
    // display: flex;
    // justify-content: space-around;
    // padding: 5rem;
    border-top: 1px solid $color-grey-light-1;

    @media only screen and (max-width: $bp-3-5) {
      grid-row: 3 / 4;
      grid-column: 1 / -1;
    }
  }

  &__icon {
    width: 4rem;
    height: 4rem;
    margin-top: 5rem;
    cursor: pointer;
    // margin: 0 2rem;
    
    transition: $transition-1;

    &:hover {
      transform: translateY(-.3rem);
    }
  }

  &__text {
    grid-column: 2 / -1;
    color: $color-grey-light-1;
    border-top: 1px solid $color-grey-light-1;
    width: 70%;
    padding: 2rem;

    @media only screen and (max-width: $bp-3-5) {
      grid-row: 2 / 3;
      grid-column: 1 / -1;
    }
  }
}