.navigation {
  grid-column: 1 / -1;
  @include grid-center-7;

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 14rem); // sirina jednog __item-a * 5
    justify-content: end;

    list-style: none;
    background-color: $color-white;
    // height: 5rem;
    width: 100%;

    position: fixed;
    top: 0;
    // right: 0;
    // right: 3rem;
    
    box-shadow: $bx-sw-1;
    z-index: 2000;

    @media only screen and (max-width: $bp-3-5) {
      @include grid-center-2;
      grid-template-columns: repeat(5, 10rem); // sirina jednog __item-a * 5
    }

    @media only screen and (max-width: $bp-5) {
      grid-template-columns: repeat(5, 7.5rem); 
      justify-content: space-between;
    }
  }

  &__item {
    display: grid;
    height: 100%;
    transition: all .3s;
    // cursor: pointer;

    &:hover {
      background-color: $color-green-medium;
      // background-color: $color-blue-light;
    }

    &:hover h2 .navigation__link {
      color: $color-white;
    }

    h2 {
      display: grid;
    }
  }

  &__link:link,
  &__link:visited {
    @include grid-center-8;
    text-transform: uppercase;
    font-size: $default-font-size;
    // color: $color-blue-dark;
    color: $color-green-dark;
    font-weight: 600;
    text-decoration: none;
    padding: 1.5rem 3.5rem;

    @media only screen and (max-width: $bp-3-5) {
      padding: 1rem 2.5rem; // odredjuje visinu navigacije
      font-size: 1.2rem;
    }

    @media only screen and (max-width: $bp-5) {
      font-size: 1rem;
      padding: .7rem;
    }
  }

}