.feature-box {
  background-color: $color-grey-light-1;
  padding: 5rem 2rem;
  @include grid-center-6;
  row-gap: 2rem;
  text-align: center;
  transition: $transition-1;
  box-shadow: $bx-sw-3;

  &__icon {
    width: 5.5rem;
    height: 5.5rem;
    fill: $color-green-medium;
  }

  &:hover {
    transform: translateY(-.5rem) scale(1.1);
    box-shadow: $bx-sw-2;

    @media only screen and (max-width: $bp-3) {
      transform: translateY(-.2rem) scale(1.05);
    }

    @media only screen and (max-width: $bp-3-5) {
      transform: translateY(-.15rem) scale(1.03);
    }
  }

  &:active  {
    @media only screen and (max-width: $bp-3) {
      box-shadow: $bx-sw-2;  
      transform: translateY(-.2rem) scale(1.05);
    }

    @media only screen and (max-width: $bp-3-5) {
      transform: translateY(-.15rem) scale(1.03);
    }
  }
}