.form {
  display: grid;
  grid-template-rows: repeat(5, min-content);
  grid-template-columns: repeat(4, 1fr);
  padding: 6rem;
  grid-gap: 4rem;

  @media only screen and (max-width: $bp-3) {
    grid-gap: 1rem;
  }

  &__input {
    height: 5rem;
    width: 80%;
    border: none;
    background-color: rgba($color-white, .8);
    padding: 2rem;
    font-family: inherit;
    color: inherit;
    border-bottom: 3px solid transparent;
    border-radius: .2rem;
    font-size: 1.5rem;

    &::placeholder {
      color: $color-grey;
    }

    &:focus {
      border-bottom: 3px solid $color-green-medium;
      outline: none;
      box-shadow: $bx-sw-1;

      &:invalid {
        border-bottom: 3px solid $color-orange-dark;
      }
    }

    &--1,
    &--2 {

      grid-column: 1 / 3;

      @media only screen and (max-width: $bp-3) {
        width: 100%;
        grid-column: 1 / 4;
      }

      @media only screen and (max-width: $bp-4) {
        grid-column: 1 / -1;
      }
    }

    &--1 {
      grid-row: 1 / 2;
    }

    &--2 {
      grid-row: 3 / 4;
    }

  }

  &__radio {
    justify-self: start;
    display: none;
    
    &--1 {
      grid-row: 5 / 6;
      grid-column: 1 / 2; 
    }

    &--2 {
      grid-row: 5 / 6;
      grid-column: 2 / 3; 
    }

  }

  &__label {
    &-input {
      font-size: 1.2rem;
      font-weight: 700;
      margin-left: 2rem;
      transform: translateY(-4rem);
      transition: $transition-1;

      @media only screen and (max-width: $bp-3) {
        transform: translateY(-1rem);
      }

      &--1 {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
      }
  
      &--2 {
        grid-row: 4 / 5;
        grid-column: 1 / 3;  
      }
  
    }
    
    &-radio {

      font-size: 1.5rem;
      cursor: pointer;
      width: 80%;
      display: flex;
      align-items: center;

      @media only screen and (max-width: $bp-1) {
        font-size: 1.2rem;
      }

      &--1 {
        grid-row: 5 / 6;
        grid-column: 1 / 2; 

        @media only screen and (max-width: $bp-3) {
          width: 100%;
          grid-column: 1 / 3;
        }
      }
  
      &--2 {
        grid-row: 5 / 6;
        grid-column: 2 / 3;

        @media only screen and (max-width: $bp-3) {
          width: 100%;
          grid-column: 3 / 5;
        } 
      }

  
      &-button {
        border: .5rem solid $color-green-medium;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin-right: 1rem;
        @include grid-center-1;

        &::after {
          content: "";
          display: block;
          height: 1.5rem;
          width: 1.5rem;
          background-color: $color-green-medium;
          border-radius: 50%;
          opacity: 0;
          transition: $transition-1;
        }
      }

    }
  }

  &__input:placeholder-shown + &__label-input {
    transform: translateY(-7.5rem);
    opacity: 0;
    visibility: hidden;

    @media only screen and (max-width: $bp-3) {
      transform: translateY(-4rem);
    }
  }

  &__radio:checked + &__label-radio &__label-radio-button::after {
    opacity: 1;
  }
}