.logo {

  &--header {
    margin: 3rem;
    width: 9rem;
    height: 9rem;
  }

  &--footer {
    grid-column: 1 / -1;
    margin-bottom: 5rem;
  }

  &--header,
  &--footer {
    
    transition: $transition-1;
    cursor: pointer;

    &:hover {
      transform: translateY(-.3rem);
    }
  }

}