.logo {

  &--header {
    height: 4rem;
    margin: 3rem;
    cursor: pointer;
  }

  &--footer {
    grid-column: 1 / -1;
    margin-bottom: 5rem;
  }

  &--header,
  &--footer {
    
    transition: $transition-2;

    &:hover {
      transform: translateY(-.3rem);
    }
  }

}