.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh + 5rem);
  background-color: rgba($color-black, .8);
  @include grid-center-2;
  z-index: 1999;
  visibility: hidden;
  opacity: 0;
  transition: $transition-2;
  -webkit-backdrop-filter: blur(10px); // radi - chrome i edge, ali ne radi - firefox
  backdrop-filter: blur(10px);

  &:target { // ovo je kliknuti id="#popup"
    visibility: visible;
    opacity: 1;
  }

  &__content {
    display: grid;
    grid-template-columns: 25vw 50vw;

    @media only screen and (max-width: $bp-3) {
      grid-template-rows: repeat(2, min-content);
    }
  }

  &__photos {
    width: 100%;
    display: block;

    @media only screen and (max-width: $bp-3) {
      grid-row: 2 / 3;
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, min-content);
    }

    &--1 {
      @media only screen and (max-width: $bp-3) {
        grid-column: 1 / 2;
      }      
    }

    &--2 {
      @media only screen and (max-width: $bp-3) {
        grid-column: 2 / -1;
      }      
    }

  }

  &__story {
    @include grid-center-2;
    grid-gap: 3rem;
    padding: 0 7vw;
    background-color: $color-grey-light-1;
    position: relative;

    @media only screen and (max-width: $bp-3) {
      grid-row: 1/2;
      grid-column: 1/-1;
      padding: 5rem;
      justify-items: center;
      grid-gap: 3rem;
      padding: 3rem;
    }

    @media only screen and (max-width: $bp-3-5) {
      grid-gap: 2.5rem;
      padding: 2.5rem;
    }

    @media only screen and (max-width: $bp-4) {
      grid-gap: 2rem;
      padding: 2rem;
    }
  }

  &__close {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    text-decoration: none;
    color: $color-white;
    // border: 2px solid $color-green-medium;
    background-color: $color-green-medium;
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
    @include grid-center-1;
  }

  &__text {
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-dark-1;
    hyphens: auto;
    text-align: justify;
  }

 }