.review {
  @include grid-center-6;
  padding: 5rem 15rem;
  background-color: rgba($color-white, .6);
  width: 75%;
  -webkit-clip-path: polygon(15% 0, 100% 0, 85% 100%, 0% 100%);
  clip-path: polygon(15% 0, 100% 0, 85% 100%, 0% 100%);
// box-shadow: $bx-sw-4; - box-shadow NE RADI kada je clip-path aktivan

  @media only screen and (max-width: $bp-3) {
    padding: 3rem 12rem;
  } 

  @media only screen and (max-width: $bp-3-5) {
    -webkit-clip-path: none;
    clip-path: none; // deaktiviram clip-path da bi ukljucio box-shadow
    box-shadow: $bx-sw-4;
    padding: 3rem 5rem;
  } 

  @media only screen and (max-width: $bp-4) {
    hyphens: none;
  }

  &__story {    

    @media only screen and (max-width: $bp-4) {
      @include grid-center-6;
      grid-gap: 3rem;
    }
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%); // sluzi da dozvoli tekstu da ide oko ovog elementa
    transform: translateX(-1.5rem);
    position: relative;  

    @media only screen and (max-width: $bp-4) {
      transform: translateX(0);
    }
  }

  &__img {
    height: 100%;
    transition: $transition-1;
    backface-visibility: hidden;
// backface-visibility: hidden; - uklanja trzaj teksta na kraju kretanja

    &--1 {
      transform: translateX(-6rem) scale(1.2);
    }

    &--2 {
      transform: translateX(2rem) scale(1.4);
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    color: $color-white;
    text-transform: uppercase;
    transform: translate(-50%, 20%);
// transform: translate(X-osa, Y-osa);
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    backface-visibility: hidden;
// backface-visibility: hidden; - uklanja trzaj teksta na kraju kretanja
    transition: $transition-2;
  }

  &:hover &__caption, 
  &:active &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img,
  &:active &__img {
    filter: blur(.3rem) brightness(95%);

    &--1 {
      transform: translateX(-6rem) scale(1);
    }

    &--2 {
      transform: scale(1);
    }
    
  }

  &__text {

    @media only screen and (max-width: $bp-3) {
      hyphens: auto;
    }

    @media only screen and (max-width: $bp-4) {
      text-align: justify;
    }
  }
  
}


